body{
    background: url(../image/background.png) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;

}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-height: 58px;
    padding: 18px 80px;
    background-color: #0006;
    box-shadow: 0px 4px 4px rgb(0 0 0 0.25);
}

.logo-text{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 30px;
}

.logo-text:hover{
    color: #01813F;
    -webkit-transition: 0.2s;
   
}

.icons{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.icon-link{
    display: flex;
    padding-right: 25px;
}

.icon:hover path {
    fill: #01813F;
    cursor: pointer;
    -webkit-transition: 0.2s;
}

.header-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    padding-left: 25px;
}

span{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.header-text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    right: 290px;
}

.header-link{
    text-decoration: none;
}

.header-link:hover{
    color: #01813F;
    cursor: pointer;
    -webkit-transition: 0.2s;
}
 
.main{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}    

.modal-window{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 30px 60px 38px;
    position: relative;
}

.window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sign-up-title{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(67, 67, 67, 1);
}

.log-in-btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #3CB878;
}

.log-in-btn:hover{
    text-decoration: underline;
    color: #01813F;
    -webkit-transition: 0.2s;
}

.modal-window::after{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    background: #3CB878;
}

.social-sign-up{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 25px;
    position: relative;
}

.btn{
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 160px;
    height: 48px;
    -webkit-border-radius: 4px;
    padding: 12px 17px;
    text-decoration: none;
}

.social-window-facebook{
    background: #305db8;
    position: relative;
}

.social-window-facebook:hover{
    background-color: #022263;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s;
}

.social-window-facebook::after{
    content: " ";
    width: 1px;
    height: 28px;
    mix-blend-mode: normal;
    background-color: #0A162F;
    position: absolute;
    left: 50px;
    opacity: 0.1;
}


.social-logo-text {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 18px;
}
 
.social-window-google{
    background: #DF4A32;
}

.social-window-google:hover{
    background-color: #AB1F09;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s;   
}

.social-window-google::before {
    content: " ";
    width: 1px;
    height: 28px;
    mix-blend-mode: normal;
    background-color: #0A162F;
    position: absolute;
    right: 100px;
    opacity: 0.1;
}

.separation{
    font-size: 14px;
    color: #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
}

.separation::before,
.separation::after {
    content: "";
    height: 1px;
    background: #f2f2f2;
    flex-grow: 1;   
} 

.sign-up-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.sign-up-field{
    font-family: inherit;
    box-sizing: border-box;
    font-size: 14px;
    width: 322px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 16px 20px;
    -webkit-transition: 0.5s;
}

.sign-up-field::placeholder{
    color: #BEBEBE;
}

.sign-up-field:focus{
    border-radius: 4px;
    border: 1px solid #f2f2f2; 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);    
    outline: none;
    color: #434343;   
}
 
.sign-up-block{
    display: flex;
    width: 100%;
    cursor: pointer;  
}

.sign-up-checkbox:checked,
.sign-up-checkbox:not(:checked){
    position: absolute;
}

.sign-up-checkbox:checked+label,
.sign-up-checkbox:not(:checked)+label{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.sign-up-checkbox:checked+label:before,
.sign-up-checkbox:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border:1px solid #F2F2F2;
    background-color: #ffffff;
    border-radius: 2px;
}

.sign-up-checkbox:checked+label:after,
.sign-up-checkbox:not(:checked)+label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}   

.sign-up-checkbox:checked+label:after,
.sign-up-checkbox:not(:checked)+label:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid #3CB878;
    border-bottom: 3px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sign-up-checkbox:checked+label:after{
    opacity: 1;
}

.sign-up-checkbox:not(:checked)+label:after{
    opacity: 0;
}

.terms-conditions-title{
    padding-left: 28px;
    font-size: 14px;
    color: #434343;
}

.terms-conditions-link{
    text-decoration: none;
    font-size: 14px;
    color: #3CB878;
}

.terms-conditions-link:hover{
    text-decoration: underline;
    color: #01813F;
    -webkit-transition: 0.2s;
}  

.sign-up-form-btn{
    width: 324px;
    height: 46px;
    left: 60px;
    top: 500px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.sign-up-form-btn:hover{
    background: #01813F;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s;
}