body{
    font-family: 'Roboto';
    font-style: normal;
}

.container{
    box-sizing: border-box;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo{
    max-width: 334px;
    font-size: 80px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
    color: #000000;
}

.logo >span {
    color: #4BCAFF;
}

.menu-list {
    display: flex;
    justify-content: center; 
    width: 100%;
    padding-left: 0;
    background-color: #35444F;
    list-style: none;
}

.menu-item {
    height: 100%;
    padding: 19px 32px;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;  
}

.menu-item:last-child{
    border-right: 1px solid #FFFFFF; 
}

.menu-item:hover{
    border-color: #FFFFFF;
    background: #222F3A;
    cursor: pointer;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;   
}

.content{
    display: flex;
    width: 100%;
    margin-top: 48px;
    justify-content: space-between;
}

.sidebar{
    display: flex;
    border: 1px solid #BFBFBF;
    width: 344px;
    height: fit-content;
    margin-right: 52px;
}

.sidebar-list {
    display: flex;
    justify-content: center; 
    width: 100%;
    padding-left: 0;
    margin: 0;
    flex-direction: column;
    list-style: none;
}

.sidebar-item{
    padding: 26px 44px;
    font-size: 27px;
    line-height: 27px;
}

.sidebar-link{
    color: #485863;
    text-decoration: none; 
} 

.sidebar-item:hover{
    background: #DBDBDB;
    padding-left: 69px;
    cursor: pointer;     
}

.sidebar-link:hover{
    color: #35444F;
}

.main{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #BFBFBF;
    padding-top: 80px;
    padding-bottom: 80px;    
}

.image{
    width: 320px;
    height: auto;
}

.image:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1) ; 
    transition: transform 1s;
}

.text{
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-list {
    display: flex;
    justify-content: space-between; 
    width: 70%;
    padding-left: 20px;
}

.footer-item{
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    width: fit-content;
}

.footer-link{
    color: #0C1927;
    border-bottom: 2px solid transparent;
    text-decoration: none;

}

.footer-link:hover{
    color:#3181A6;
    border-bottom: 2px solid #3181A6;
    padding-bottom: 8px;
}

.copyright{
    display: flex;
    justify-content: space-between; 
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 20px;
}