.container{
    background-color: #171717;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #FFFFFF;
    padding-bottom: 238px;
    padding-top: 40px;
}

.content-block{
    box-sizing: border-box;
    margin: 0 auto;
    width: 1460px;  
}

.header{
    display: flex;
    width: 1460px;
    justify-content: space-between;
    height: 50px;
    margin-top: 40px;
    align-items: center;
    margin: 40px auto 128px;
}
.logo-header{
    display: flex;
    width: 216px;
    height: 33px;
}

.button{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 25px 10px 26px;
    cursor: pointer;
    text-transform: capitalize;
}   

.logo-button::before{
    content: url(../img/phone.png);
    padding-right: 20px;
}

.caption{
    height: 28px;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    
}
.caption-description{
    max-width: 1182px;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 28px; 
    color: #FFFFFF; 
    margin-bottom: 41px;
    margin-top: 41px;
}

.block-1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 468px;
    gap: 30px;
    max-width: 1460px;
    height: 966px;  
    margin-bottom: 161px;
}

.first-grid-item-1,
.first-grid-item-2,
.first-grid-item-3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
}

.first-grid-item-4,
.first-grid-item-5{
    grid-column: span 3;
    grid-row: span 1;   
}

.first-grid-text{
    max-height: 936px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
    height: 100%;
}

.first-grid-item-1{
    background: #634F2C ;
}

.first-grid-item-2{
    background: #B4A385;
}

.first-grid-item-3{
    background: #E4B564;
}

.first-grid-item-4{
    background: #635A4A;
}

.first-grid-item-5{
    background: #B08C4D;
}

.block-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-bottom: 191px;
    height: 903px;
    gap: 30px;
    max-width: 1460px;
    margin-top: 94px;
}
.second-grid-item-1 {
    grid-row: 1/ 5;
    grid-column: 1;
    background-color: #0E0E0E;   
}

.second-grid-item-2 { 
    grid-row: 1/ 6;
    grid-column: 2;
    background-color: #242424;
 }

.second-grid-item-3 { 
    grid-row: 1/ 4;
    grid-column: 3;
    background-color: #1F1F1F;
}

.second-grid-item-4 { 
    grid-row: 5/ 11;
    grid-column: 1;
    background-color: #1F1F1F;
}
    
.second-grid-item-5 { 
    grid-row: 6/ 11;
    grid-column: 2;
    background-color: #E4B564;
    color: #000000;
    margin-bottom: 25px;
}

.second-grid-item-6 { 
    grid-row: 4/ 8;
    grid-column: 3;
    background-color: #0E0E0E;
}

.second-grid-item-7 { 
    grid-row: 8/ 11;
    grid-column: 3;
    background-color: #0A0909; 
}
    
.second-grid-text{
    font-size: 20px;
    line-height: 25px;
    margin-top: 44px;
    margin-left: 52px;
    width: 302px;
}

.second-grid-text>span{
    font-weight: bold;
}

.wrapper{
    background-color: #0E0E0E;
    background-size: 100%;
    width: 100vw;  
 }

 .section-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 128px;
    height: 50px;
    padding-top: 171px;
    align-items: center;
}

.block-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
.block-item{
    box-sizing: border-box;
    display: flex;
    width: 485px;
    min-height: 391px;
}

.link-item{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;  
}

.logo-img{
    display: flex; 
}

.item-text{
    display: flex;
    flex-direction: column;
    width: 326px;
    justify-content: center;
    height: 140px;
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    display: none; 
}

.item-text>span{
    font-weight: bold;
}
.link-item:hover .item-text{
    display: block;
  
}
.block-item:hover{
    background-color: rgba(232, 210, 171, 0.76);
}
.item-1{
   background-color: #634F2C; 
}

.item-2{
    background-color: #E8D2AB;
}

.item-3{
    background-color: #E4B564;
}
.item-4{
    background-color: #635A4A;
}

.item-5{
    background-color: #B08C4D;
}

.item-6{
    background-color: #634F2C;  
}

.section-button{
    padding: 10px 40px;
    line-height: 30px;
    width: 180px;
    justify-content: center;
}