body{
    font-family: Roboto;
    min-height: 100vh;
    background: url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    
    font-style: normal;
    box-sizing: border-box;
    padding-bottom: 18px;
    padding-top: 50px; 
   
}

.content-block{ 
    box-sizing: border-box;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto; 
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo-block{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;  
}

.image{
    float: left;
    width: 53px;
    display: flex;
    padding-right: 8px;
    height: 47px;

}

.orange-logo{
    display: none;
}

.logo-block:hover .logo-img{
    display: none;
}

.logo-block:hover .orange-logo{
    display: flex;
}

.logo-text{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #FFFFFF;  
}

.text-above{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.text-beyond{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.logo-link{
    text-decoration: none;
}

.logo-block:hover .text-above{
    color: #F26522;
}

.logo-block:hover .text-beyond{
    color: #F26522;
}

.contacts{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
}

.mail{
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;
    padding-bottom: 19px;
    text-decoration: none;
}

.mail:hover{
    color: #F26522;
}

.phone{
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;
    padding-bottom: 19px;
    text-decoration: none;
}

.phone:hover{
    color: #F26522;
}

.main-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.item{
    display: flex;
    flex-direction: column; 
    width: 300px;
}

.wrapper{
    overflow: hidden;
    position: relative;
    height: 220px;
}

.img-place{
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, white, black) 1 100%; 
}

.item-link {
    text-decoration: none;
    color: #FFFFFF;
    
}

.orange-block{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #F26522;
    position: absolute;
    overflow: hidden;
    bottom: -100px;
    padding: 7px 13px 13px;
    transition: 1s ease;
}

.price-block{
    display: flex;
    width: 100%;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-text{
    font-size: 20px;
    line-height: 20px; 
    color: #FFFFFF; 
}

.details{
    display: flex;
    font-size: 14px;
    line-height: 14px;
    align-items: center;   
}

.chapter-text {
    color: #FFFFFF;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 37px;
}

 .item:hover .orange-block{
    bottom: 0;     
} 

.item:hover .chapter-text{
    color: #F26522;
}

  .details::after {
      content: url(../image/Vector-1.png);
      padding-left: 16px;
  }

.copyright{
    margin-top: 49px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}