body{
    font-family: 'Montserrat';
    font-style: normal;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
.menu-item {
    display: inline-block;
    min-width: 130px;
    border: 1px;
    margin-right: 22px;
    align-items: center;
    letter-spacing: 2.7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.menu-item:last-child{
    margin-right: 0;
    align-items: center;
}

.menu-link{
    color: red;
    text-decoration: none;
    align-items: center;
}
.image{
    width:100%;
}

.text-title{
    font-size: 22px;
    text-transform: uppercase;
    width: 774px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
}


.paragraph-text{
    margin:20px 30px 0 35px;
    width: 95%;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.paragraph-text:last-child{
margin-bottom: 60px;
}

.button{
    display: block;
    width: fit-content;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    background: #FF0000;
    color: #FFFFFF;
    text-transform: uppercase;
    padding:10px 55px;
    font-size: 12px;
    letter-spacing: 2.7px;
    line-height: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    border-radius: 4px;
    border-color: #FF0000;
  
  
}

.copyright-text{
    font-size: 16px;
    color: #373737;
    margin-left: auto;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
}