body {
    background-color: #171717;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ffc300;
}

.container{
    width: 1150px;
    height: 28em;
    bottom: 500px;
    margin: 0 auto; 
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(50deg);
}

.wrapper {
    width: 100%;
    position: absolute;
    animation: scroll 30s linear 1s infinite;
}

@keyframes scroll {
     0% {
        top: 100%;
 }
    100% {
       top: -170%;
  }
}
.chapter{
    text-align: center;
    font-size: 50px;     
}

.title-text{
    font-size: 50px;
    line-height: 60px;
    padding-left: 100px;
}

.lower-text{
    margin-top: 40px;
}

